<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add category</title>
    <style>
       
        body, h1, h2, p, ul, form {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        #add_user {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .radio {
            margin-right: 10px;
        }

        .btn {
            background-color: rgb(10, 109, 170);
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #45a049;
        }

        .error {
            color: red;
        }
        nav {
        background-color: #333;
        padding: 10px 0;
        text-align: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }

    nav a:hover {
        text-decoration: underline;
    }

   </style>  
</head>
<body>
   
      <nav>
        <a href="/admin/home" class="nav-item list-group-item"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        <a href="/admin/listUser" class="nav-item list-group-item"><i class="bi bi-people-fill"></i>User Management</a>
        <a href="/admin/category" class="nav-item list-group-item"><i class="fa fa-th me-2"></i>Category Management</a>
        <a href="/admin/product" class="nav-item list-group-item"><i class="fa fa-keyboard me-2"></i>Product Management</a>
        <a href="/admin/home" class="nav-item list-group-item"><i class="fa fa-table me-2"></i>Order Management</a>
        <a href="/admin/home" class="nav-item list-group-item"><i class="fa fa-chart-bar me-2"></i>Coupon Management</a>
       
    </nav>
<form action="/admin/new-category" method="POST" id="add_user" onsubmit="return categoryValidation()">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Category Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="categoryName" id="categoryName" placeholder="Zouq Bag Collections">
            <span id="categoryNameError" class="error"></span>
        </div>
        <% if (typeof message !== 'undefined') { %>
            <div id="message" class="error">
                <%= message %>
            </div>
        <% } %>

        
       
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>

<script>
    function categoryValidation() {
        var categoryName = document.getElementById('categoryName').value;
       

        document.getElementById('categoryNameError').innerText = "";
       
       
         // Validate Category Name
         if (categoryName.trim() === "") {
            document.getElementById('categoryNameError').innerText = "Category Name is required";
            return false;
         }
         if (!/^[a-zA-Z]+$/.test(categoryName)) {
            document.getElementById('categoryNameError').innerText = "Category Must Be Characters";
            return false;
         }

        return true;
    }
</script>

</body>
</html>