<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }

        form {
            max-width: 400px;
            width: 100%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .page-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .current-profile-image,
        .upload-new-image {
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            height: 100px;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        input[type="file"] {
            margin-top: 10px;
        }

        button {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>

    <form action="/updateProfileImage" method="post" enctype="multipart/form-data">
        <div class="page-header">
            <h1>Edit Profile Image</h1>
        </div>

        <div class="current-profile-image">
            <h3>Current Profile Image:</h3>
            <% if (user && user.image) { %>
                <img src="/userimage/<%= user.image %>" alt="Profile Image" />
                <% } else { %>
                    <p>No user or user image found</p>
                    <% } %>
        </div>

        <div class="upload-new-image">
            <h3>Upload New Image:</h3>
            <input type="file" name="image" accept="image/*">
        </div>

        <button type="submit">Update Profile Image</button>
    </form>

</body>

</html>