<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verified</title>
</head>
<style>
    h1{
        text-align: center;
        position: relative;
        top :10rem;
    }
    img{
        width: 5rem;
        position: relative;
        top: 11rem;
        left: 43rem;
    }
    .btn{
        position: relative;
        top: 16rem;
        left: 37rem;
        background-color: rgba(26, 192, 159, 0.88);
        width: 10%;
        height: 50px;
        border-radius: 15%;
        border: 0 solid rgb(0, 0, 0);
   }
</style>
<body>
    <h1 >Email verified successfully.</h1>

     <img src="/userImages/email.webp" alt="">
   <a href="/login"> <button class="btn" type="submit">LOGIN</button></a>
</body>
</html>