<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verified</title>
</head>
<style>
    body {


        background-image: url('/userImages/emails.webp');
        background-size: cover;


    }

    h1 {
        text-align: center;
        position: relative;
        top: 4rem;
    }

    img {
        width: 15rem;
        position: relative;
        top: 6rem;
        left: 43rem;
    }

    .btn {
        position: relative;
        top: 8rem;
        left: 30rem;
        background-color: rgb(225, 210, 210);
        width: 10%;
        height: 50px;
        border-radius: 15%;
        border: 0 solid rgb(0, 0, 0);
    }
</style>

<body>
    <h1>Email verified successfully.</h1>

    <img src="/userImages/email.webp" alt="">
    <a href="/login"> <button class="btn" type="submit">LOGIN</button></a>
</body>

</html>