<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="/user/css/login.css">
</head>
<body>
<div class="login">
  <h3 class="active" > RESET PASSWORD </h3>
  <form  method="post" action="/forgot">
    <span>Email</span>
    <input type="text" class="text" name="email">
    <span id="emailError" class="error" style="color: red;"></span>
    <br>
    <br>
    <button class="signin" style="width: 100px;">
        Send and Reset Link
      </button>
  <br>
    
  </form>
  <%
  if(typeof message !=='undefined'){
    %>
    <script>
    alert('<%= message %>');

  </script>
    <% } %>
</div>
</body>
</html>