<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="/user/css/login.css">
</head>

<body>
  <div class="login">
    <h3 class="active"> RESET PASSWORD </h3>
    <form method="post" action="">
      <span>Password</span>
      <input type="password" class="text" name="password" placeholder="Enter password">
      <input type="hidden" name="userId" value="<%= userId %>">
      <br>
      <br>
      <button class="signin" style="width: 150px;">
        Reset Password
      </button>
      <br>

    </form>
    <% if(typeof message !=='undefined' ){ %>
      <script>
        alert('<%= message %>');

      </script>
      <% } %>
  </div>
</body>

</html>