<% include('../layouts/header.ejs') %>



  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/user/css/login.css">
  </head>

  <body>
    <div class="login">
      <h2 class="active"> LOGIN </h2>
      <form method="post" action="/login" onsubmit="return formValidation()">

        <input type="text" class="text" name="email" placeholder="email">
        <span id="emailError" class="error" style="color: red;"></span>
        <br>


        <input type="password" class="text" name="password" placeholder="Password">
        <span id="passwordError" class="error" style="color: red;"></span>
        <br>
        <button class="signin">
          Login
        </button>
        <hr>
        <h5><a href="/forgot">Forgot Password?</a></h5>
        <h5>Don’t have an account?<a href="/register">Sign up Now !</a> </h5>
        <button class="signin" id="g_id_onload" style="background-color: rgb(139, 190, 190); width: 150px;"><a
            href="/google/Verify">SignIn with Google</a><br> </button>
        </a><br> </button>

      </form>

      <% if (typeof message !=='undefined' ) { %>

        <script>
          function formValidation() {
            var email = document.querySelector('[name="email"]');
            var password = document.querySelector('[name="password"]');

            // Validate email and password
            if (validateEmail(email) && validatePassword(password)) {
              return true;
            }
            return false;
          }

          function validateEmail(email) {
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email.value.match(mailformat)) {
              document.getElementById('emailError').innerText = '';
              return true;
            } else {
              document.getElementById('emailError').innerText = 'Invalid email address';
              email.focus();
              return false;
            }
          }

          function validatePassword(password) {
            // You can add additional password validation logic here if needed
            if (password.value.length >= 6) {
              document.getElementById('passwordError').innerText = '';
              return true;
            } else {
              document.getElementById('passwordError').innerText = 'Password is incorrect';
              password.focus();
              return false;
            }
          }
        </script>







        <% } %>

    </div>

    <script>
      function onSignIn(googleUser) {
        // Retrieve user profile information
        var profile = googleUser.getBasicProfile();

        // Retrieve email
        var email = profile.getEmail();

        // Send email and password to the backend
        signInWithGoogle(email);
      }

      function signInWithGoogle(email) {
        // Fetch URL
        var url = '/googleAuth';

        // Request body
        var data = {
          email: email
        };

        // Fetch options
        var options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };

        // Make the Fetch request
        fetch(url, options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            console.log(data); // Log response from the backend
          })
          .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
          });
      }

    </script>

    <script>
      function callFetchToSendEmailToBackend(user) {
        console.log("..l", user);
        console.log("..l", typeof (user));

        let options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ user })
        };

        fetch('/googleAuth', options)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            console.log("Response worked by google auth");
            console.log(data); // Log response from the backend

            if (data.message) {
              // Display an alert with the message from the backend
              // alert(data.message);
              window.location.href = '/'
            }
          })
          .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
          });
      }
    </script>

    <% include('../layouts/footer.ejs') %>