<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verified</title>
</head>
<style>
    h2{
        text-align: center;
        position: relative;
        top :14rem;
    }
    
    #card{
        text-align: center;
        position: relative;
        top :0rem;
        left:6rem;
        border: 2px solid black;
    }
    img{
        width: 4rem;
        position: relative;
        top: 15rem;
        left: 51rem;
    }
    .btn{
        position: relative;
        top: 17rem;
        left: 36rem;
        background-color: rgba(26, 192, 159, 0.48);
        width: 10%;
        height: 50px;
        border-radius: 15%;
        border: 0 solid rgb(0, 0, 0);
   }
   #btn1{
        position: relative;
        top: 17rem;
        left: 40rem;
        background-color: rgba(242, 228, 228, 0.628);
        width: 10%;
        height: 50px;
        border-radius: 15%;
        border: 0 solid rgb(0, 0, 0);
   }
</style>
<body>
    <h2 >Your Order Placed Successfully</h2>

    <img src="/userImages/order.jpg" alt="" style="height: 100px;width: 100px;">
     <!-- Display the discount amount -->

   <a href="/product-list"> <button class="btn" type="submit">Continue Shoping</button></a>
   <a href="/order-history"> <button class="btn" id="btn1" type="submit">View Order details</button></a>

   
 
</body>
</html>